* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #d2dbdd;
}
.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.cards {
  width: 100%;
  height: auto;
}
.card {
  margin: 6%;
  /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1); */
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.card_img {
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card_info {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}

.card_category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}

.card_title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button {
  padding: 5px 8px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
.addForm {
  width: 600px;
  margin: auto;
  text-align: center;
  background: white;
}

input {
  display: block;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 24px;
  /* border: none; */
}
.addBtn {
  font-size: 20px;
  padding: 10px;
  color: #868686;
  border-radius: 5px;
}
.main-heading {
  text-align: center;
  color: #868686;
  background: white;
  margin-top: 100px;
  padding: 20px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
